<div id="page-wrapper" ng-controller="postController">
    <div class="row">
        <div class="col-lg-8">
            <!--================== ADD NEW POST=============================-->
            <section class="addPost">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Status</h5>
                    </div>
                    <div class="panel-body">
                        <div class="create-post">
                            <div class="input-flex">
                                <a href="#/profile/{{$root.user_id}}">
                                    <img class="img-comments" ng-src="{{$root.user.PROFILE_IMG_URL}}"
                                         err-src="../images/profile.jpg" alt="">
                                </a>
                                <textarea class="post-text" ng-model="postText" rows="3" cols="90"
                                          placeholder="Say something?" required maxlength="700" name="text"></textarea>
                            </div>
                            <div id="inputForFiles">
                                <input class="input-files" type="file" file-model="postPicture"/>
                            </div>
                            <button type="button" class="btn btn-default btn btnPicture" ng-click="addImageBtnPost()"><i
                                    class="fa fa-picture-o" aria-hidden="true"></i> Photo/Video
                            </button>

                            <button class="btn btn-default btn pull-right" ng-click="uploadFile()">Post</button>
                        </div>
                    </div>
                </div>
            </section>
            <!--====================== LOAD ALL POSTS =========================-->
            <div ng-controller="postController">
                <div infinite-scroll='loadMore()'>
                    <div ng-repeat="post in posts">
                        <posts data='post'></posts>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>