<li class="row">
    <div class="col-md-7">
        <img ng-src="{{data.PROFILE_IMG_URL}}" err-src="../../images/profile.jpg" class="img-fr-requests" alt="userImg">
        <span>{{data.fullName}}</span>
    </div>
    <div class="col-md-5">
        <div ng-if="requestVisible === PENDING">
            <button class="confirm-btn" ng-click="confirmRequest(); requestVisible = ACCEPTED">
                Confirm
            </button>
            <button class="reject-btn" ng-click="rejectRequest(); requestVisible = REJECTED">Reject
            </button>
        </div>
        <p ng-if="requestVisible === ACCEPTED">Friend request accepted</p>
        <p ng-if="requestVisible === REJECTED">Friend request rejected</p>
    </div>
</li>
<li class="divider"></li>